{% extends "admin/base_site.html" %}

{% load admin_static %}

{% block extrahead %}
    <script src="{% static 'closet/js/vendor/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'closet/js/vendor/jquery.tablesorter-2.0.5.min.js' %}"></script>

    <style>
        .c--availability {

        }

        .c--availability__filters {
            float: right;
            padding-left: 2%;
            width: 10%;
        }

        .c--availability__filter {

        }

        .c--availability__filter + .c--availability__filter {
            margin-top: 2em;
        }

        .c--availability__filter__title {
            border-bottom: 1px solid #ddd;
            margin: 0;
            margin-bottom: 0.25em;
            margin-top: 0.375em;
            padding-bottom: 0.375em;
            text-transform: uppercase;
        }

        .c--availability__filter__choices {
            margin: 0;
            padding: 0;
        }

        .c--availability__filter__choice {
            cursor: pointer;
            list-style: none;
            padding: 0 !important;
        }

        .c--availability__filter__choice:hover .c--availability__filter__choice-name {
            text-decoration: underline;
        }

        .c--availability__filter__choice.is-selected {
            background: #79aec8;
        }
        .c--availability__filter__choice.is-selected .c--availability__filter__choice-name {
            color: #fff;
            padding-left: 0.5em;
        }

        .c--availability__filter__choice-name {
            background: none;
            border: 0;
            cursor: pointer;
            outline: 0;
            padding: 0;
            text-align: left;
        }

        .c--availability__data {
            table-layout: fixed;
            width: 88%;
        }

        .c--availability .for-basic { width: 10%; }
        .c--availability .for-retailer { width: 10%; }
        .c--availability .for-item { width: 20%; }
        .c--availability .for-garment { width: 20%; }
        .c--availability .for-size { width: 8%; }
        .c--availability .for-total { width: 7%; }
        .c--availability .for-detailed { width: 9%; }
        .c--availability .for-network { width: 9%; }

        .c--availability td.for-detailed {
            color: #a00;
        }
        .c--availability td.for-detailed.is-detailed {
            color: green;
            font-weight: bold;
        }

        .c--availability .header {
            cursor: pointer;
        }
        .c--availability .headerSortDown,
        .c--availability .headerSortUp {
            background-color: #79aec8;
            color: #fff;
        }

        .c--availability .headerSortDown::after,
        .c--availability .headerSortUp::after {
            float: right;
        }

        .c--availability .headerSortDown::after { content: "\21e9"; }
        .c--availability .headerSortUp::after { content: "\21e7"; }
    </style>

    <script>
        $(document).ready(function() {
            $('.js-availability-data').tablesorter();

            var filters = {};

            var $data = $('.js-availability-datum');
            var $current = $('.js-availability-count-current');
            var $total = $('.js-availability-count-total');

            $current.text($data.length);
            $total.text($data.length);

            $('.js-availability-choice').on('click', function(e) {
                var $choice = $(this);
                var $name = $choice.find('.js-availability-choice-name');
                var $filter = $choice.parents('.js-availability-filter');

                var field = $choice.data('field');
                var value = $name.data('value');
                var isActive = $choice.is('.is-selected');

                $filter.find('.js-availability-choice').removeClass('is-selected');
                filters[field] = isActive ? null : value;

                if (isActive) {
                    $choice.removeClass('is-selected');
                } else {
                    $choice.addClass('is-selected');
                }

                $data.show();

                var applied = Object.keys(filters).reduce(function(previous, filterName) {
                    var value = filters[filterName];
                    if (value) {
                        previous.push('[data-' + filterName + '="' + value + '"]');
                    }
                    return previous;
                }, []);

                if (applied.length) {
                    $data.hide();
                    $data.filter(applied.join('')).show();
                }

                $current.text($data.filter(':visible').length);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="c--availability js-availability-data">

        <div class="c--availability__filters">

            <p class="c--availability__count">
                <span class="js-availability-count-current"></span>
                /
                <span class="js-availability-count-total"></span>
            </p>

            <div class="c--availability__filter js-availability-filter">
                <h4 class="c--availability__filter__title">Basics</h4>
                <ul class="c--availability__filter__choices">
                    {% for basic in basics %}
                        <li class="c--availability__filter__choice js-availability-choice" data-field="basic">
                            <button class="c--availability__filter__choice-name js-availability-choice-name" data-value="{{ basic }}">{{ basic }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="c--availability__filter js-availability-filter">
                <h4 class="c--availability__filter__title">Detailed Stock</h4>
                <ul class="c--availability__filter__choices">
                    <li class="c--availability__filter__choice js-availability-choice" data-field="detailed">
                        <button class="c--availability__filter__choice-name js-availability-choice-name" data-value="yes">Yes</button>
                    </li>
                    <li class="c--availability__filter__choice js-availability-choice" data-field="detailed">
                        <button class="c--availability__filter__choice-name js-availability-choice-name" data-value="no">No</button>
                    </li>
                </ul>
            </div>

            <div class="c--availability__filter js-availability-filter">
                <h4 class="c--availability__filter__title">Retailer</h4>
                <ul class="c--availability__filter__choices">
                    {% for retailer in retailers %}
                        <li class="c--availability__filter__choice js-availability-choice" data-field="retailer">
                            <button class="c--availability__filter__choice-name js-availability-choice-name" data-value="{{ retailer }}">{{ retailer }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <table class="c--availability__data js-availability-data">
            <thead>
                <tr>
                    <th class="for-basic">Basic</th>
                    <th class="for-retailer">Retailer</th>
                    <th class="for-garment">Garment</th>
                    <th class="for-size">Regular</th>
                    <th class="for-size">Petite</th>
                    <th class="for-size">Tall</th>
                    <th class="for-size">Plus</th>
                    <th class="for-total">Total</th>
                    <th class="for-detailed">Detailed?</th>
                    <th class="for-network">View On</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr data-basic="{{ item.basic }}" data-detailed="{% if item.detailed %}yes{% else %}no{% endif %}" data-retailer="{{ item.retailer }}" class="js-availability-datum">
                        <td class="for-basic">{{ item.basic }}</td>
                        <td class="for-retailer">{{ item.retailer }}</td>
                        <td class="for-garment"><a href="{{ item.garment_change_url }}">{{ item.garment }}</a></td>
                        <td class="for-size">{{ item.regular }}</td>
                        <td class="for-size">{{ item.petite }}</td>
                        <td class="for-size">{{ item.tall }}</td>
                        <td class="for-size">{{ item.plus }}</td>
                        <td class="for-total">{{ item.total }}</td>
                        <td class="for-detailed {% if item.detailed %}is-detailed{% endif %}">{% if item.detailed %}Yes{% else %}No{% endif %}</td>
                        <td class="for-network"><a href="{{ item.affiliate_url }}" target="_blank">{{ item.network }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
