{% extends "admin/base_site.html" %}

{% load admin_static %}

{% block extrahead %}
    <script src="{% static 'closet/js/vendor/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'closet/js/vendor/jquery.tablesorter-2.0.5.min.js' %}"></script>

    <style>
        .c--availability {
            table-layout: fixed;
            width: 100%;
        }

        .c--availability .for-item { width: 20%; }
        .c--availability .for-network { width: 10%; }
        .c--availability .for-garment { width: 20%; }
        .c--availability .for-size { width: 7%; }
        .c--availability .for-total { width: 5%; }

        .c--availability .header {
            cursor: pointer;
        }
        .c--availability .headerSortDown,
        .c--availability .headerSortUp {
            background-color: #79aec8;
            color: #fff;
        }

        .c--availability .headerSortDown::after,
        .c--availability .headerSortUp::after {
            float: right;
        }

        .c--availability .headerSortDown::after { content: "\21e9"; }
        .c--availability .headerSortUp::after { content: "\21e7"; }
    </style>

    <script>
        $(document).ready(function() {
            $('.js-availability').tablesorter();
        });
    </script>
{% endblock %}

{% block content %}
    <table class="c--availability js-availability">
        <thead>
            <tr>
                <th class="for-basic">Basic</th>
                <th class="for-network">Network</th>
                <th class="for-item">Item</th>
                <th class="for-garment">Garment</th>
                <th class="for-size">Regular</th>
                <th class="for-size">Petite</th>
                <th class="for-size">Tall</th>
                <th class="for-size">Plus</th>
                <th class="for-total">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td class="for-basic">{{ item.basic }}</td>
                    <td class="for-network">{{ item.network }}</td>
                    <td class="for-item"><a href="{{ item.change_url }}">{{ item.name }}</a></td>
                    <td class="for-garment"><a href="{{ item.garment_change_url }}">{{ item.garment }}</a></td>
                    <td class="for-size">{{ item.regular }}</td>
                    <td class="for-size">{{ item.petite }}</td>
                    <td class="for-size">{{ item.tall }}</td>
                    <td class="for-size">{{ item.plus }}</td>
                    <td class="for-total">{{ item.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
