.c--pipeline {

}

.c--pipeline__form {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
}

.c--pipeline__results {
    display: table;
    margin-top: 1.5em;
    table-layout: fixed;
    width: 100%;
}

.c--pipeline__results__data {
    display: table-cell;
    padding-right: 4em;
    transition: opacity 500ms;
}

.c--pipeline__results__basics {
    display: table-cell;
    font-size: 1.125em;
    vertical-align: top;
    width: 15em;
}

/*==============================================================================
| Form
==============================================================================*/

.c--pipeline__form select,
.c--pipeline__form input {
    height: auto;
    margin: 0;
    vertical-align: baseline;
}

.c--pipeline__form input {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}

.c--pipeline__form label {
    cursor: pointer;
}

.c--pipeline__form select {
    font-size: 1em;
    padding: 0;
}

.c--pipeline__form__fields {
    border: 0;
    flex: 1;
    margin-bottom: 0.5em;
    margin-right: 3%;
    position: relative;
}

.c--pipeline__form__fields.for-primary {
    flex: 1.25;
}

.c--pipeline__form__fields.for-expectations {
    flex: 1.5;
}

.c--pipeline__form__fields legend {
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.75em;
    padding: 0.5em 0;
    text-transform: uppercase;
    width: 100%;
}

.c--pipeline__form__batch-buttons {
    position: absolute;
    right: 0;
    top: 0.375em;
}

.c--pipeline__form__batch-button {
    background: none;
    color: #888;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    font-size: 0.8em;
    padding: 0.25em 0.625em;
}

.c--pipeline__form__batch-button:hover {
    background-color: #f5f5f5;
}

.c--pipeline__form__batch-button:focus {
    border-color: #bbb;
    outline: 0;
}

.c--pipeline__form__batch-button + .c--pipeline__form__batch-button {
    margin-left: 0.25em;
}

.c--pipeline__form__field {
    padding: 0.25em 0;
}

.c--pipeline__form__field label + input,
.c--pipeline__form__field label + select {
    margin-left: 0.25em;
}

.c--pipeline__form__field.for-sizes {
    max-height: 13.5em;
    overflow: auto;
}

.c--pipeline__form__field-group {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.c--pipeline__form__choices {
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

.c--pipeline__form__choice {
    display: table-row;
    font-size: 1em;
    padding: 0 !important;
}

.c--pipeline__form__choice label {
    display: table-cell;
    padding-bottom: 0.5em;
}

.c--pipeline__form__choice input {
    display: table-cell;
}

.c--pipeline__form__choice input[type="checkbox"] {
    margin-top: -0.125em;
}

.c--pipeline__form__choice input + label {
    padding-left: 0.25em;
}

.c--pipeline__form__choice label + select {
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

.c--pipeline__form__choices.for-grid {

}

.c--pipeline__form__choices.for-grid .c--pipeline__form__choice {
    display: block;
}

.c--pipeline__form__choices.for-grid .c--pipeline__form__choice * {
    display: inline-block;
    vertical-align: baseline;
}

.c--pipeline__form__buttons {
    margin-top: 4.5em;
}

.c--pipeline__form__button {
    background-color: #fff;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1.25;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

.c--pipeline__form__button:hover {
    background-color: #eee;
}

.c--pipeline__form__button + .c--pipeline__form__button {
    margin-top: 0.5em;
}

.c--pipeline__form__button.for-submit {
    background-color: #333;
    border: 0;
    color: #fff;
}

.c--pipeline__form__button.for-submit:hover {
    background-color: #000;
}

/*==============================================================================
| Basics Filter
==============================================================================*/

.c--pipeline__basics-filter {
    margin-top: 0.4em;
}

.c--pipeline__basics-filter__title {
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em 0;
    text-transform: uppercase;
}

.c--pipeline__basics-filter__buttons {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.c--pipeline__basics-filter__button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    cursor: pointer;
    flex: 1;
    font-size: 0.75em;
    padding: 0.5em 1em;
}

.c--pipeline__basics-filter__button:hover {
    background-color: #eee;
}

.c--pipeline__basics-filter__button + .c--pipeline__basics-filter__button {
    margin-left: 0.5em;
}

.c--pipeline__basics-filter__form {

}

.c--pipeline__basics-filter__basics {
    margin: 0;
    padding: 0;
}

.c--pipeline__basics-filter__basic {
    font-size: 0.9em;
    list-style: none;
    margin-bottom: 0.125em;
    padding: 0 !important;
}

.c--pipeline__basics-filter__basic input {
    margin: 0;
    margin-top: -0.125em;
}

.c--pipeline__basics-filter__basic label {
    cursor: pointer;
}

.c--pipeline__basics-filter__cutoff {
    margin-bottom: 1em;
}

.c--pipeline__basics-filter__cutoff label {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 0.25em;
}

.c--pipeline__basics-filter__cutoff input {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    display: inline-block;
    font-size: 1em;
    padding: 0.25em;
    width: 2em;
}

/*==============================================================================
| Garments
==============================================================================*/

.c--pipeline__basics {
    margin: 0;
    padding: 0;
}

.c--pipeline__basic {
    list-style: none;
    padding: 0 !important;
}

.c--pipeline__basic + .c--pipeline__basic {
    margin-top: 3em;
}

.c--pipeline__basic__name {
    border-bottom: 2px solid currentColor;
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
}

.c--pipeline__basic__garments {
    margin: 0;
    padding: 0;
}

.c--pipeline__basic__garment {
    list-style: none;
    margin-top: 1em;
    padding: 0 !important;
}


.c--pipeline__garment {
    display: flex;
}

.c--pipeline__garment__media {
    margin-right: 1em;
    transition: width 125ms;
    width: 3.5em;
}

.c--pipeline__garment__affiliates {
    display: none;
    margin-top: 1em;
}

.c--pipeline__garment__weight {
    background-color: #333;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    transition: background-color 250ms;
    width: 100%;
}

.c--pipeline__garment__body {
    flex: 1;
}

.c--pipeline__garment__meta {
    cursor: pointer;
}

.c--pipeline__garment__meta:hover .c--pipeline__garment__name,
.c--pipeline__garment__meta:hover .c--pipeline__garment__brand {
    color: #000;
}

.c--pipeline__garment__name {
    color: #666;
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    text-transform: none;
}

.c--pipeline__garment__brand {
    color: #999;
    font-size: 0.8em;
    margin: 0;
}

.c--pipeline__garment__details {
    border: 1px solid #333;
    display: none;
    margin-top: 1.375em;
}

/*==============================================================================
| Affiliate Items
==============================================================================*/

.c--pipeline__affiliate {

}

.c--pipeline__affiliate + .c--pipeline__affiliate {
    margin-top: 3em;
}

.c--pipeline__affiliate__thumbnail {

}

.c--pipeline__affiliate__thumbnail-image {
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.c--pipeline__affiliate__links {
    border-top: 1px solid #333;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
}

.c--pipeline__affiliate__link {
    font-size: 0.8em;
    list-style: none;
    padding: 0 !important;
}

.c--pipeline__affiliate__link:first-child {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.c--pipeline__affiliate__link-text {

}

/*==============================================================================
| Affiliate Image
==============================================================================*/

.c--pipeline__affiliate-image {
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}

.c--pipeline__affiliate-image__content {
    display: inline-block;
    position: relative;
    margin-top: 3em;
}

.c--pipeline__affiliate-image__close {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    padding: 0.75em 0;
    width: 100%;
}

.c--pipeline__affiliate-image__close:hover {
    background-color: #555;
}

.c--pipeline__affiliate-image__photo {
    background-color: #000;
    border: 1px solid #000;
    display: block;
    margin: 0.25em auto 0;
    max-width: 100%;
}

.c--pipeline__affiliate-image__caption {
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    margin: 0;
    padding: 1.5em;
    text-align: center;
}

/*==============================================================================
| Garment Log
==============================================================================*/

.c--pipeline__garment-log {
    width: 100%;
}

.c--pipeline__garment-log thead th {
    background-color: #333;
    border-top: 0;
    color: #fff;
    padding: 0.5em 1.25em;
    font-weight: normal;
    text-transform: none;
    white-space: nowrap;
}

.c--pipeline__garment-log tbody td {
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
    padding: 0.75em 1.25em;
}

.c--pipeline__garment-log tbody tr:last-child td {
    border-bottom: 0;
}

.c--pipeline__garment-log .for-weight-name {
    white-space: nowrap;
}

.c--pipeline__garment-log tr.for-miss {
    color: #999;
}

.c--pipeline__garment-log .for-normalized td {
    background-color: #fafafa;
    border-top: 3px double #ccc;
}

.c--pipeline__garment-log .for-normalized + .for-normalized td {
    border-top: 0;
}

/*==============================================================================
| Debug Information
==============================================================================*/

.c--pipeline__debug {
    margin-top: 2em;
}

.c--pipeline__debug__title {
    border-bottom: 1px solid #bbb;
    color: #999;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 0.5em;
}

.c--pipeline__debug-info {
    margin: 0;
}

.c--pipeline__debug-info__key {
    display: inline-block;
}

.c--pipeline__debug-info__key::after {
    content: ":";
}

.c--pipeline__debug-info__value {
    display: inline-block;
}

.c--pipeline__debug-info__value + .c--pipeline__debug-info__key {
    margin-left: 2em;
}

.c--pipeline__queries {
    margin-top: 1em;
}

.c--pipeline__queries .for-query {
    font-family: monospace;
    font-size: 0.8em;
}

.c--pipeline__queries .for-time {
    font-size: 0.8em;
}

/*==============================================================================
| State Classes
==============================================================================*/

body.is-modal {
    overflow: hidden;
}

.c--pipeline.is-loading .c--pipeline__results__data {
    opacity: 0.25;
}

.c--pipeline.is-scrolling {
    min-height: 100vh;
}

.c--pipeline.is-scrolling .c--pipeline__basics-filter {
    position: fixed;
    top: 0;
    width: 15em;
}

.c--pipeline__garment.is-expanded {
    padding-bottom: 1em;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__affiliates {
    display: block;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__media {
    width: 10em;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__weight {
    background-color: #000;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__name {
    color: #000;
    font-weight: bold;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__meta:hover .c--pipeline__garment__brand {
    color: #999;
}

.c--pipeline__garment.is-expanded .c--pipeline__garment__details {
    display: block;
}
